/* css reset */
*{
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}

/* css variables */
:root{
    --navbar-height:40px;
}

/* Navigation Bar */
#navbar{
    display: flex;
    align-items: center;
}

/* Navigation Bar: logo and img */
#logo{
margin: 0px 1px;
}
#logo img{
    height: 50px;
    margin: 2px 26px;
}
#navbar{
    top: 0;
    position: absolute;
}

/* Navigation Bar: List styling */
#navbar ul{
    display: flex;
}
#navbar::before{
    content: "";
    background-color: black;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.8;
}
#navbar ul li{
    list-style: none;
    font-size: 1rem;
}

#navbar ul li a{
    font-family: 'Odibee Sans', cursive;
    font-family: 'Suez One', serif;
    color: rgb(7, 49, 7);
    display: block;
    padding: 3px 23px;
    border-radius: 10px;
        text-decoration: none;
}
#navbar ul li a:hover{
    color: rgb(210, 231, 15);
    border:1px solid #084308;
    background-color: transparent;
}

/* section Home */

#home{
    
    display: flex;
    flex-direction: column;
    height: 465px;
    padding: 3px 200px;
    justify-content: center;
    align-items: center;
}
#home::before{
    content: "";
    background: url(bg2.png) no-repeat center center;
    position: absolute;
    top: 0;
    left: 0;
    height: 111%;
    width: 100%;
    z-index: -1;
    opacity: 0.99;
}
#home h1{
    color: rgb(3, 66, 6);
    align-items: center;
    font-family: 'Lobster', cursive;
}
#home p{
    color: rgb(218, 221, 31);
    font-size: 1.3rem;
    font-family: 'Lobster', cursive;
}
/* services section */
#Adventures{
    /* background: url(../bg.png); */
    padding: 20px 20px;
    display: flex;
    height: 383px;
    top: 0  ;

   
}
#Adventures .box:hover{
   /* background-color: aliceblue; */
   box-shadow: 10px 10px 100px 10px rgb(20, 73, 187) ;
}
    

.Adventure-container .box{
    font-family: 'Lobster', cursive;
    /* border: 2px solid red; */
    border-radius: 20px;
    text-align: center;
    margin: 10px;
    height: 235px;
    width: 312px;
    
}

/*Adventure-photos */

  

.Adventure-container::before{
    content: "";
    position: absolute;
    background: url(w4.png);
    width: 100%;
    height: 475px;
    z-index: -1;
    opacity: 0.99;

}
#Adventure-photos{
    background: url(camping.png);
    height: 400px;
}
#photos{
    margin: -30px -3px;
   display: flex;
    justify-content: center;
    align-items: center;
}
#photos img{
    height: 160px;
    width: 173px;
}
#photos img:hover
{  
    
    height: 300px;
    width: 300px;
}

/* Contact Us */

#contact{
    position: relative;
}
#contact::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.7;
    background: url(climbing.png) center center;
}
#contact-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;
}
#contact-box input,
#contact-box textarea{
    width: 100%;
    padding: 0.1rem;
    border-radius: 10px;
    font-size: 1rem;
    font-family: 'Lobster', cursive; 
}
#contact-box form{
    width: 40%;
}
#contact-box label{
    font-family: 'Lobster', cursive; 
    font-size: 1.1rem;
    
}
#contact-box .btn2{
   
    padding: 4px 52px;
    margin: 6px;
    border-radius: 15px;
    font-size: 19px;
    font-family: 'Lobster', cursive; 
    cursor: pointer;
}
#contact-box .btn2:hover{
    background-color: black;
    color: white;
}
/* footer */
footer{
    background-color: black;
    color: white;
    padding: 2px 25px;
}

/* Utility classes */

.h-primanry {
    font-family: 'Lobster', cursive; 
    color: rgb(39, 39, 90);
   font-size: 2rem;
   padding: 54px 37px;
}
#pc{
   color: rgb(39, 39, 90);
    font-size: 25px;
    font-family: 'Lobster', cursive;
    justify-content: center;
    align-items: center;
    margin: 20px 430px;
}

.h-secondary{
    
    color: rgb(231, 33, 33);
    font-family: 'Lobster', cursive; 
    font-size: 1.4rem;
    padding: 25px;
    }

.btn{
    padding: 2px 12px;
    margin: 17px;
    border: 2px solid #074712b7;;
    background-color: rgb(77 118 10);
    border-radius: 15px;
    font-size: 1rem;
    cursor: pointer;
   
}
.btn a{
    color: rgb(27, 65, 10);
    text-decoration: none;
    
}
.btn:hover{
    background-color: transparent;
}
.center{
    text-align: center;
}
